In [4]:
from pathlib import Path
import pandas as pd
import webvtt
from tqdm import tqdm

In [63]:
train_df = pd.read_parquet("train.parquet")
train_df

,audio_filename,segment_filename,segment_text,segment_start,segment_end,segment_duration,source
0,qp_sLB_E2-0,qp_sLB_E2-0_0,شيخ الجبل سنتحدث اليوم عن تاريخ هذه الشخصية ال...,9.581,24.469,14.888,MASC
1,qp_sLB_E2-0,qp_sLB_E2-0_1,لا تنس ذكر الرحمن والصلاة على النبي العدنان اس...,24.469,39.854,15.385,MASC
2,qp_sLB_E2-0,qp_sLB_E2-0_2,و قد لقب هذا الشخص بشيخ الجبل و قد كان حكيما م...,52.246,62.711,10.465,MASC
3,qp_sLB_E2-0,qp_sLB_E2-0_3,و قد كان مركز عملهم في اصفهان و في تلك الفترة ...,75.833,86.278,10.445,MASC
4,qp_sLB_E2-0,qp_sLB_E2-0_4,و كان عوام الناس يخافون منهم كثيرا فيروى انه ل...,113.467,129.011,15.544,MASC
...,...,...,...,...,...,...,...
125650,NSAMSXZb9CU,NSAMSXZb9CU_7,وكان كل محدد من محددات المجاهيل يساوي الصفر فا...,91.600,99.740,8.140,MASC
125651,NSAMSXZb9CU,NSAMSXZb9CU_8,مثال حل المعادلات الخطية التالية بطريقة كرامير,102.920,108.940,6.020,MASC
125652,NSAMSXZb9CU,NSAMSXZb9CU_9,نحسب محدد الجملة نحسب محددات المجاهيل بما ان م...,111.740,124.500,12.760,MASC
125653,NSAMSXZb9CU,NSAMSXZb9CU_10,نحسب محدد الجملة نحسب محددات المجاهيل بما ان م...,125.780,141.160,15.380,MASC
125654,NSAMSXZb9CU,NSAMSXZb9CU_11,نحسب محدد الجملة نحسب محددات المجاهيل بما ان م...,142.640,154.580,11.940,MASC

In [64]:
train_df.drop_duplicates(subset=["segment_text", "audio_filename"])

,audio_filename,segment_filename,segment_text,segment_start,segment_end,segment_duration,source
0,qp_sLB_E2-0,qp_sLB_E2-0_0,شيخ الجبل سنتحدث اليوم عن تاريخ هذه الشخصية ال...,9.581,24.469,14.888,MASC
1,qp_sLB_E2-0,qp_sLB_E2-0_1,لا تنس ذكر الرحمن والصلاة على النبي العدنان اس...,24.469,39.854,15.385,MASC
2,qp_sLB_E2-0,qp_sLB_E2-0_2,و قد لقب هذا الشخص بشيخ الجبل و قد كان حكيما م...,52.246,62.711,10.465,MASC
3,qp_sLB_E2-0,qp_sLB_E2-0_3,و قد كان مركز عملهم في اصفهان و في تلك الفترة ...,75.833,86.278,10.445,MASC
4,qp_sLB_E2-0,qp_sLB_E2-0_4,و كان عوام الناس يخافون منهم كثيرا فيروى انه ل...,113.467,129.011,15.544,MASC
...,...,...,...,...,...,...,...
125650,NSAMSXZb9CU,NSAMSXZb9CU_7,وكان كل محدد من محددات المجاهيل يساوي الصفر فا...,91.600,99.740,8.140,MASC
125651,NSAMSXZb9CU,NSAMSXZb9CU_8,مثال حل المعادلات الخطية التالية بطريقة كرامير,102.920,108.940,6.020,MASC
125652,NSAMSXZb9CU,NSAMSXZb9CU_9,نحسب محدد الجملة نحسب محددات المجاهيل بما ان م...,111.740,124.500,12.760,MASC
125653,NSAMSXZb9CU,NSAMSXZb9CU_10,نحسب محدد الجملة نحسب محددات المجاهيل بما ان م...,125.780,141.160,15.380,MASC
125654,NSAMSXZb9CU,NSAMSXZb9CU_11,نحسب محدد الجملة نحسب محددات المجاهيل بما ان م...,142.640,154.580,11.940,MASC

In [65]:
train_df.segment_duration.sum() / 3600

447.0045161111111

In [9]:
len(train_df.channel_id.unique())

262

In [24]:
one_videos = train_df.channel_id.value_counts() == 1
one_video_df = train_df[train_df.channel_id.isin(one_videos[one_videos == True].index)]

In [25]:
one_video_df.transcript_duration.sum() / 3600

4.275733086419753

In [26]:
one_video_df

,video_id,category,video_duration,channel_id,country,dialect,gender,transcript_duration
114,6tzV2klm6c8,['Education'],227,UCs4nVKi0Wnol768fk4MfnfA,SA,MSA,Male,164.195556
115,poiBVJOvNzo,['Entertainment'],2621,UC2EJXBsWR_5BTCy6R4kIO3A,QA,MSA,Male,270.684444
130,Y7Eb1vkYDf0,['Entertainment'],249,UCmPewyRq8eJF9qeKjO5TGmA,DE,MSA,Male,205.302222
236,JoqeNQnDTGU,['People & Blogs'],215,UC9lOr4zfCWxSECyjWQyZI2A,UNK,MSA,Male,111.875556
269,Jwrgz7F5d_Q,['Entertainment'],368,UCVg9TNPD5vQyQL7KTKAiq7A,DZ,MSA,Female,266.324444
...,...,...,...,...,...,...,...,...
4805,5Ml2dYPmCXg,['Education'],341,UCiBGQy6seOwrCP9eumbvkjA,AE,MSA,Male,259.528000
4824,wcRmyrzmljo,['Education'],135,UCdbDIUyaDXemK4pfV6fqdcQ,DE,MSA,Male,86.577778
4871,RYgHhqt9SKM,['People & Blogs'],82,UC8JDbZZ2JJ_hkaepn1jqpzQ,JO,MSA,Male,67.324444
4901,nymlB_WcS_s,['Education'],1661,UC8TyTcK5sjO1unJqngkL_VA,PK,MSA,Male,498.324444
4911,Cdk84RRmIMo,['People & Blogs'],80,UC2mcPN2YDX31oaLnfZScx_g,UNK,MSA,Both,7.111111

In [27]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5068 entries, 0 to 5067
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   video_id             5068 non-null   object
 1   category             5068 non-null   object
 2   video_duration       5068 non-null   int64
 3   channel_id           5068 non-null   object
 4   country              5068 non-null   object
 5   dialect              5068 non-null   object
 6   gender               5068 non-null   object
 7   transcript_duration  5068 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 316.9+ KB

In [29]:
train_df.sample(100)

,video_id,category,video_duration,channel_id,country,dialect,gender,transcript_duration
7,QZa2B4gRY0I,['Education'],135,UC5hQOOQ7atQ9ZX57eZ_FHgw,SA,MSA,Male,113.066667
4054,lndI1DrxxDs,['People & Blogs'],200,UCl3nMSWrD-z4g8a5yuvCurw,UNK,MSA,Male,134.222222
3988,Ty-iFw7g4Ds,['Education'],1069,UColjWvzOxaDiU74l_Nos9Vg,UNK,MSA,Male,942.871111
748,p6v659uCLp8,['Science & Technology'],139,UCAuerig2N-RZWJT8x75V9yw,US,MSA,Female,91.013333
2563,QJ3gEbF-fEU,['Science & Technology'],63,UCgnxoUwDmmyzeigmmcf0hZA,US,MSA,Male,44.562667
...,...,...,...,...,...,...,...,...
1064,yd45-cgZ9Jc,['Education'],286,UCXvgBTDHlCowFXsdcr_WqjQ,IL,MSA,Male,227.644444
2603,SmMu0W2Gviw,['Science & Technology'],616,UCsh9QVqjTw6twWy8pSQ8T3g,YE,MSA,Male,502.469333
4993,pFtmiQpkNW0,['People & Blogs'],609,UCahYlNszeMy_PHffYvgAOHg,JO,MSA,Male,500.060444
2356,rco6398ib9o,['People & Blogs'],2103,UCLFxhG3-8bloS720P9YXKcQ,UNK,MSA,Male,1803.744889
204,QIxTK9Cn5aw,['Film & Animation'],175,UCGbIR9SwByUdLHaqRWGtdmA,US,MSA,Male,128.164444

In [13]:
train_sub = Path("/root/datasets/masc/train/subtitles")
print(train_sub.exists())
captions_duration = []
for sub in tqdm(train_sub.glob("*"), total=len(list(train_sub.glob("*")))):
    vtt = webvtt.read(sub)
    for caption in vtt:
        captions_duration.append((caption.end_in_seconds - caption.start_in_seconds, caption.text))
caption_df = pd.DataFrame(captions_duration, columns=["duration", "text"])

True

100%|██████████| 5068/5068 [00:09<00:00, 520.01it/s]

In [14]:
caption_df

        duration                                               text
0          9.547   شيخ الجَبَلْ .. سنتحدث اليوم عن تاريخ هذه الش...
1          5.341  سنعرض أبرز مراحل حَيَاْتِهْ،  و نهايته الأليمة...
2          6.541        لا تنس ذكر الرحمن والصلاة على النبي العدنان
3          8.844  اسم شخصيتنا هذا تاريخيا أحمد إبن عطاش..و قد ول...
4         12.392  تعلم على يد والده و والده لم يكن أقل شأنا منه ...
...          ...                                                ...
421218     4.860           مثال 2: حل جمل المعادلات الخطية التالية:
421219     0.660                                              الحل:
421220     3.480                           إذن: للجملة حل وحيد، هو:
421221     3.440                           إذن: للجملة حل وحيد، هو:
421222     2.820                          إذن: الجملة مستحيلة الحل.

[421223 rows x 2 columns]

In [11]:
caption_df.duration.sum() / 3600

853.4359613888888

In [12]:
caption_df.duration.describe()

count    421223.000000
mean          7.293926
std         959.765601
min           0.001000
25%           2.440000
50%           3.670000
75%           5.660000
max      359755.777000
Name: duration, dtype: float64

In [15]:
caption_df.sort_values("duration", ascending=False).head(10)

          duration                                               text
376108  359755.777        مكتب عليه كوب زجاجي و بينبه المتحدث أن وقته
110403  359581.250              متوسطة الجمال يبقى أنا محتاج غض البصر
110410  359562.405           مش هيقدر عليه كل الشباب\nاللي حوالينا ده
350382    1929.680                                        نهاية الدرس
223482    1450.227  بالرابط الموجود بمربع الوصف اسفل الفيديو وباول...
25660      330.964   أرجوا منكم مشاركة هذا العمل لتصل رسالته و أود...
347055     330.964   أرجوا منكم مشاركة هذا العمل لتصل رسالته و أود...
20358      330.964   أرجوا منكم مشاركة هذا العمل لتصل رسالته و أود...
235837     177.997  282] يا أيها الذين آمنوا إذا تداينتم بدين إلى ...
191572     149.190  282] يا أيها الذين آمنوا إذا تداينتم بدين إلى ...

In [16]:
caption_df.sort_values("duration").head(10)

        duration                                               text
213510     0.001            المصدر كتاب : \nعيون الأخبار - الدينوري
213516     0.001            المصدر كتاب: \nسير أعلام النبلاء للذهبي
232202     0.008  أما الريش جعله قطعة ملتصقة بالشجرة تماماً\nهو ...
232217     0.009  شركة الهدى للخدمات التقنية\n( صُنْعَ اللَّهِ ا...
332883     0.010                        انفلونسال بيرسون ان هستورري
332829     0.010                          هتسيب دينك؟ هتشك في دينك؟
39892      0.010
39921      0.010
305050     0.015          شيء لا يصدق\nحوالي خمسة آلاف مليون معلومة
291681     0.016               Subtitles by the Amara.org community

In [33]:
caption_df[(caption_df.duration >=12) & (caption_df.duration <=18)]

        duration                                               text
4         12.392  تعلم على يد والده و والده لم يكن أقل شأنا منه ...
6         13.122  و قد ذهب إبن عطاش إلى القاهرة ليتعلم العُلُوْم...
8         12.391  و هم يُسَمُّوْنْ أنفسهم الدولة الفاطمية نِسْبَ...
9         14.798  تَرَأَّسَ إبن عطاش الطائفة الإسماعيلية في بِلَ...
12        14.925  إلتقى في تلك الفترة بِأَقْرَاْنِهِ مثل حسن الص...
...          ...                                                ...
420872    16.380  وقيل: أقاربه، وقيل: هم المختصون به من حيث العل...
420875    13.920  فقال رسول الله -صلى الله عليه وسلم-: "إنما بنو...
420876    13.740  والمراد ببني هاشم: آل علي، وآل جعفر، وآل عقيل،...
420877    15.060  وآل جعفر - رضي الله عنه- هم جعفر بن أبي طالب و...
421191    12.540  بحيث إن المعاملات    a1  و   a2   و b1   و   b...

[12444 rows x 2 columns]

In [23]:
caption_df.duration.quantile(0.1)

1.5999999999999943

In [42]:
caption_df.duration.quantile(0.95)

11.460000000000008

In [54]:
caption_df[caption_df.duration < .7].duration.sum() / 3600

0.32971611111111127